*{
    margin:0;
    font-family: tahoma;
}
.header {
    background-color: rgba(172, 174, 172, 0.684);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    max-width: 100%;

}
li,a {
    font-weight: 500;
    font-size:18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor:pointer;
    border-radius: 50px;
}
.imagenlogo {
    cursor:pointer;
    padding-left: 10px;
    max-width: 100%;
} 
.lista {
    list-style: none ;
}
li {
    display:inline-block;
}
.lista li a{
    border: 5px;
    transition: all 0.5s ease 0s;
    padding: 5px 5px;
}
.lista li a:hover {
    background-color: rgba(255, 140, 0, 0.885);
    
    
}
.fondopagina {
    display: flex;
    align-items: center;
    padding-bottom: 40px;

}

.sectionAuto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px ;

    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 100px;
    
}
.nombreAuto {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 280px;
    padding-right: 200px;
    padding-bottom: 20px;
}
.servicios {
    background-color: rgba(0, 0, 255, 0.077);
    text-align: center;
    border-radius: 10px;
    margin-left:500px;
    margin-right:500px;
    margin-top: 20px;
    margin-bottom: 20px;


}
.sectionTipo {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 100px;
}
.tipoServ {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content:space-around;
    padding-left:80px ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reseñascard {

    display: flex;
    justify-content: space-evenly;
    
}

.reseñascard .reseñas {

    background-color: rgb(92, 88, 81);
    display: flex;
    width: 40%;
    height:130px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 rgb(255, 5, 5); 
}
.reseñascard .reseñas img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.reseñascard .reseñas .contenido-text-card {
    width: 60%;
    color: white;
}
.reseñascard .reseñas .contenido-text-card h5{
    font-weight:200%;
}
.reseñascard .reseñas .contenido-text-card p{
    font-weight: 300;
    padding-top: 20px;
}

.reservacard {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.reservacard .RESERVA{
    padding-top: 20px;
    background-color: rgba(255, 91, 9, 0.121);
    display: flex;
    width: 25%;
    height:80px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 rgb(249, 249, 184); 
}
.reservacard .RESERVA img {
    width:50%px;
    height: 50px;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    display: block;
}

.reservacard .RESERVA .numero {
    font-size: 40px;
    width:50%;
    color: rgb(0, 0, 0);
    text-align: center;
  
}

.footer {
    width: 100%;
    background-color: rgba(86, 50, 50, 0.377);
}
.footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding:10px 0px;
    text-align: center;
}
.footer .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.footer .grupo1 .box h2 {
    color:rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo1 .box p {
    color:rgb(2, 0, 5);
    margin-bottom: 10px;
}
.footer .grupo1 .box .media a{
    display: inline-flex;
    text-decoration: none;
    font-size: 25px;
    padding: 8px;
}