*{
   margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 252, 252);
    background: -webkit-linear-gradient(to left, hsla(0, 3%, 94%, 0.459), hsla(127, 100%, 2%, 0.664)), url(logo\ de\ express\ wash.JPG);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(185, 41%, 95%, 0.459), hsla(197, 82%, 67%, 0.601)), url(logo\ de\ express\ wash.JPG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}
nav {
    text-align: right;
    padding: 10px 20px 5px 0 ;
    background-color: rgba(255, 255, 255, 0.532);
}
.linksis {
    color:rgb(0, 0, 0);
    font-size:20px;
    font-weight: 100px;
    text-decoration: none;
    margin-right: 10px;
}
.linksis:hover {
    color:white;
    padding: 0.2vw;
    background-color: rgba(35, 105, 135, 0.635);
    border-radius: 10px;
}
@media screen and (max-width:992px) {
    .ancors {
        padding: 0;
        margin: 0;
        border-radius: 0px;
    }
    .linksis{
      display: flex;
      flex-direction: column;
      background-color: rgba(98, 88, 88, 0.535);
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 0;
    }
    linksis:hover {
        color:white;
        padding: 0.2vw;
        background-color: rgb(17, 17, 17);
        border-radius: 10px;
    }
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-shadow:blue ;
}
.textos-header h1{
    font-size: 50px;
    color:#ffffffec;
    text-align: end ;
}
.textos-header p{
    font-size: 20px;
    font-weight: 50%;
    color:#ffffff;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sectionAuto {
    padding-top: 80px;
    gap:30px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding-bottom: 50px;
}
.imags:hover {

    padding: 0.2vw;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(119, 122, 119);
}
.servicios {
    background-color: rgba(139, 139, 142, 0.379);
    text-align: center;
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sectionTipo {
    align-items: center;
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.typeLavado {
    text-align: center;
}
.yotu{
    text-align: center;
    align-items: center;
}
.serviciotexto{
    text-align: center;
    list-style-type: none;
}









.reseñascard {

    display: flex;
    justify-content: space-evenly;
    
}

.reseñascard .reseñas {

    background-color: rgba(250, 92, 7, 0.1);
    display: flex;
    width: 40%;
    height:180px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;
    box-shadow: 0 0 35px 0 rgb(117, 116, 116); 
}
.reseñascard .reseñas img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgba(212, 206, 206, 0.617);
    border-radius: 50%;
    display: block;
}

.reseñascard .reseñas .contenido-text-card {
    font-style: italic;
    width: 60%;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/** RESERVA */

.reservacard {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.reservacard .RESERVA{
    padding-top: 0;
    background-color: rgba(255, 91, 9, 0.121);
    display: flex;
    width: 260px;
    height:80px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 0 0 33px 0 rgb(60, 60, 58); 
}
.reservacard .RESERVA img {
    width:50%px;
    height: 50px;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    display: block ;
    
}

.reservacard .RESERVA .numero {
    font-size: 30px;
    font-weight: 100px;
    width:100px;
    color: rgb(0, 0, 0);
}
.clik {
    text-align: center;
}



.footer {
    width: 100%;
    background-color: rgba(86, 50, 50, 0.377);
}

.footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding:10px 0px;
    text-align: center;
}
.footer .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.footer .grupo1 .box h2 {
    color:rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo1 .box p {
    color:rgb(2, 0, 5);
    margin-bottom: 10px;
}
.footer .grupo1 .box .media a{
    background-color: rgba(0, 81, 255, 0.429);
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    padding: 11px;
}

@media (max-width: 992px) {
    .sectionAuto {
        display: flex;
        flex-direction: column;
    }

    .sectionTipo {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    /* .header {
        width: 100vw;
    } */

    .sectionAuto {
        display: flex;
        flex-direction: column;
    }

    .sectionTipo {
        display: flex;
        flex-direction: column;
    }

    .servicios {
     margin: auto;   
    }
    
    .reseñascard .reseñas .contenido-text-card {
        font-style: italic;
        width: 60%;
        font-size: 12px;
        color: rgb(0, 0, 0);
    }

    .nombreAuto{
        padding: 0%;
    }

    .grupo1 {
        display: flex !important;
        flex-direction: column;
    }
    a:hover {
        color:white;
        padding: 0.2vw;
        border-radius: 10px;
    }

}

.derechos {
    text-align: center;

}
.derechos div{

    font-weight: 20px;
}